body{
    background-color: black;
}

.quote-box-project {
    text-align: center;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 8px;
    border-left: 8px solid #ffffff;
    position: relative;
}
.quote-box-project::before {
    content: '“';
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 6em;
    color: rgb(0, 0, 0);
}
.quote-box-project blockquote {
    font-size: 1.5em;
    font-style: italic;
    min-height: 120px;
}
.quote-box-project button {
    background-color: #fefdff;
    border-radius: 50px;
    font-weight: bold;
}
